header {
  width: 100%;
  height: 62px;
  background: #fff;
  box-shadow: 0 0 4px 2px #e6e6e6;
}

header section {
  width: 1180px;
  margin: 0 auto;
}

header section h1 {
  float: left;
}

header section nav {
  float: left;
  height: 100%;
  margin-left: 40px;
}

header section nav li {
  float: left;
  font-weight: bold;
  height: 100%;
}

header section nav li a {
  padding: 0 14px;
  display: block;
  line-height: 62px;
  color: #333333;
  font-size: 14px;
}

header section nav .active a {
  color: #1abc9c;
}

header section aside {
  float: right;
}

header section aside div {
  display: inline-block;
  width: 42px;
  height: 30px;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  margin-top: 16px;
  text-align: center;
  line-height: 30px;
}

header section aside div i {
  color: #cccccc;
  font-weight: bold;
}

header section aside a {
  font-size: 14px;
  color: #666666;
}

header section aside a:nth-child(2) {
  margin-left: 24px;
}

header section aside a:nth-child(3) {
  margin-left: 14px;
}

header section aside a:last-child {
  color: #eee;
  padding: 10px 14px;
  background: #1abc9c;
  border-radius: 4px;
  margin-left: 10px;
}

.main_outside {
  width: 100%;
  background: #f5f5f5;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main_outside .main_content_top {
  width: 1180px;
  margin: 0 auto;
}

.main_outside .main_content_top .main_left {
  width: 860px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.main_outside .main_content_top .main_left .main_left_section1 .banner_max {
  margin-right: 10px;
  float: left;
}

.main_outside .main_content_top .main_left .main_left_section1 .banner_min {
  float: left;
}

.main_outside .main_content_top .main_left .main_left_section1 .banner_min img {
  margin-bottom: 10px;
}

.main_outside .main_content_top .main_left .main_left_section1 .banner_min img:last-child {
  margin-bottom: 0;
}

.main_outside .main_content_top .main_left .main_left_section2 {
  background: #fff;
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 20px;
}

.main_outside .main_content_top .main_left .main_left_section2 hgroup {
  border-bottom: 1px solid #efefef;
}

.main_outside .main_content_top .main_left .main_left_section2 hgroup h3 {
  font-size: 18px;
  color: #333;
  font-weight: normal;
  float: left;
  padding-bottom: 15px;
}

.main_outside .main_content_top .main_left .main_left_section2 hgroup h4 {
  font-size: 12px;
  color: #999999;
  float: right;
  font-weight: normal;
  padding-top: 8px;
}

.main_outside .main_content_top .main_left .main_left_section2 article {
  padding-top: 15px;
  display: flex;
  justify-content: space-evenly;
}

.main_outside .main_content_top .main_left .main_left_section3 {
  margin-top: 20px;
  background: #fff;
  padding: 0 15px;
}

.main_outside .main_content_top .main_left .main_left_section3 nav {
  height: 50px;
  box-sizing: border-box;
  border-bottom: 1px solid #efefef;
}

.main_outside .main_content_top .main_left .main_left_section3 nav li {
  float: left;
  height: 100%;
  box-sizing: border-box;
}

.main_outside .main_content_top .main_left .main_left_section3 nav li a {
  line-height: 50px;
  padding: 0 15px;
  color: #666666;
  border-right: 1px solid #efefef;
}

.main_outside .main_content_top .main_left .main_left_section3 nav li:first-child {
  padding-left: 0;
  border-bottom: 2px solid #1abc9c;
}

.main_outside .main_content_top .main_left .main_left_section3 nav li:first-child a {
  color: #1abc9c;
  padding-left: 0;
}

.main_outside .main_content_top .main_left .main_left_section3 nav li:last-child a {
  border-right: 0;
}

.main_outside .main_content_top .main_left .main_left_section3 figure {
  padding: 20px 0;
  display: flex;
  border-bottom: 1px solid #efefef;
}

.main_outside .main_content_top .main_left .main_left_section3 figure figcaption {
  margin-right: 16px;
}

.main_outside .main_content_top .main_left .main_left_section3 figure article {
  flex: 1;
  position: relative;
}

.main_outside .main_content_top .main_left .main_left_section3 figure article h4 {
  font-weight: normal;
  font-size: 20px;
  color: #333333;
  margin-bottom: 14px;
}

.main_outside .main_content_top .main_left .main_left_section3 figure article p {
  line-height: 22px;
  font-size: 12px;
  color: #666666;
  text-indent: 10px;
}

.main_outside .main_content_top .main_left .main_left_section3 figure article em {
  position: absolute;
  left: 0;
  bottom: 4px;
}

.main_outside .main_content_top .main_left .main_left_section3 figure article em span {
  font-size: 12px;
  color: #999999;
}

.main_outside .main_content_top .main_left .main_left_section3 figure article em span i {
  display: inline-block;
  vertical-align: middle;
}

.main_outside .main_content_top .main_left .main_left_section3 button {
  font-size: 12px;
  height: 41px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  line-height: 39px;
  text-align: center;
  border-radius: 4px;
  background: #fff;
  margin: 30px 0;
  color: #999999;
  cursor: pointer;
}

.main_outside .main_content_top .main_right {
  width: 300px;
  float: left;
  box-sizing: border-box;
}

.main_outside .main_content_top .main_right .main_right_section1 {
  padding: 0 15px;
  background: #fff;
}

.main_outside .main_content_top .main_right .main_right_section1 h4 {
  padding: 15px 0;
  font-weight: normal;
}

.main_outside .main_content_top .main_right .main_right_section1 h4 span {
  width: 4px;
  height: 16px;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  background: #1abc9c;
  margin-top: -4px;
  margin-right: 8px;
}

.main_outside .main_content_top .main_right .main_right_section1 figure {
  padding-bottom: 15px;
  display: flex;
}

.main_outside .main_content_top .main_right .main_right_section1 figure figcaption {
  margin-right: 10px;
}

.main_outside .main_content_top .main_right .main_right_section1 figure article p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  color: #333333;
  font-size: 12px;
}

.main_outside .main_content_top .main_right .main_right_section1 figure article span {
  margin-top: 12px;
  color: #999999;
  font-size: 12px;
}

.main_outside .main_content_top .main_right .main_right_section2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.main_outside .main_content_top .main_right .main_right_section3 {
  background: #fff;
  margin-top: 20px;
}

.main_outside .main_content_top .main_right .main_right_section3 h4 {
  padding: 15px;
  font-weight: normal;
}

.main_outside .main_content_top .main_right .main_right_section3 h4 span {
  width: 4px;
  height: 16px;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  background: #1abc9c;
  margin-top: -4px;
  margin-right: 8px;
}

.main_outside .main_content_top .main_right .main_right_section3 article {
  padding: 0 15px;
  padding-bottom: 16px;
}

.main_outside .main_content_top .main_right .main_right_section3 article a {
  width: 85px;
  height: 25px;
  border: 1px solid #b0b0b0;
  border-radius: 2px;
  margin-right: 4px;
  float: left;
  color: #666666;
  font-size: 12px;
  text-align: center;
  margin-bottom: 3px;
}

.main_outside .main_content_top .main_right .main_right_section3 article a:nth-child(3n) {
  margin-right: 0;
}

.main_outside .main_content_bottom {
  width: 1180px;
  margin: 0 auto;
  background: #fff;
  padding: 15px;
  box-sizing: border-box;
  padding-bottom: 0;
}

.main_outside .main_content_bottom hgroup {
  border-bottom: 1px solid #efefef;
}

.main_outside .main_content_bottom hgroup h3 {
  font-size: 18px;
  color: #333;
  font-weight: normal;
  float: left;
  padding-bottom: 15px;
}

.main_outside .main_content_bottom hgroup h4 {
  font-size: 12px;
  color: #999999;
  float: right;
  font-weight: normal;
  padding-top: 8px;
}

.main_outside .main_content_bottom article {
  padding: 10px 0;
}

.main_outside .main_content_bottom article a {
  display: inline-block;
  font-size: 12px;
  color: #999999;
  margin-right: 20px;
  line-height: 32px;
}

.footer_outside {
  background: #2d3237;
  height: 152px;
  width: 100%;
}

.footer_outside .footer_content {
  width: 1180px;
  margin: 0 auto;
}

.footer_outside .footer_content ul {
  padding-top: 42px;
  padding-bottom: 32px;
}

.footer_outside .footer_content ul li {
  float: left;
  font-size: 12px;
  color: #76818c;
  margin-right: 20px;
}

.footer_outside .footer_content p {
  font-size: 12px;
  color: #76818c;
}
